
.body-data {
  margin: 0%;
  padding: 0px;
  margin: 0%;
  margin-right: 0%;
  height: 100vh;
  width: 100%;
  line-height: 1.5em;
  box-sizing: border-box;
  font-family: "Varela Round", Sans-Serif;
}



/*Contenido textual de la ventana modal*/

.titulo {
  font-family: "Varela Round", Sans-Serif;
  font-size: 48px;
  
}

.texto {
  font-family: "Muli", Sans-Serif;
  font-size: 16px;
}

.diviertete {
  font-family: "Varela Round", Sans-Serif;
  font-size: 38px;
}

.cita {
  font-family: "Muli", Sans-Serif;
  font-size: 12px;
  height: 50px;
  border-radius: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*ventana modal */
.modalContainer {

  position: absolute;
  z-index: 2;
  padding-top: 90px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;

  margin-bottom: -10%;
}

.modalContainer .modal-content {
  background: rgba(255, 255, 255, 0.856);

  margin: auto;
  padding: 20px;

  border-top: 10px;
  border-radius: 20px;
  width: 60%;
  height: 65%;
  min-height: 65%;
  min-width: 60%;
 
  animation-duration: 2s;
  animation-name: slidein;
}

.modalContainer .close {
  width: 120px;
  height: 50px;
  border-radius: 15px;
  border-width: 5px;
  border-color: #b997da;
  color: #b997da;
  background-color: #f7b5ef00;
  font-family: "Varela Round", Sans-Serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #ffddd2;
  box-shadow: 0 10px 16px #e7cce4;
  transition: all 0.3s ease;
  background-color: #8133ca;
}

/*fin ventana modal */

/*estilos a botones de filtrado y organizado*/

#btnSort, #btnFilter {
  border-style: none;
   font-family: "Varela Round", Sans-Serif;
    text-decoration: none;
   font-size: 18px;
   font-weight: 300;
   letter-spacing: 1px;
   color: #ba64f7;
   background-color: #e7cce400;
   cursor: pointer;
}
/*estilos aplicados a las tarjetas de peliculas*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 3%;
  margin-left: 3%;
  align-items: center;
  margin-top: 5%;
}

.colum {
  flex: 20%;
  padding: 10px;
}

.card {
  background: rgba(255, 255, 255, 0.548);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  width: 250px;
  height: 100%;
  margin-bottom: 10px;
  min-width: 200px;
}

.card:hover {
  transition: all 0.3s ease;
  padding: 10px 0px;
  background-color: #dbc1e0;
  box-shadow: 0 10px 20px #a7619e;
}

.card-body {
  padding: auto;
  position: relative;
  line-height: 1%;
  
}

.card-title {
  font-family: "Varela Round", Sans-Serif;
  font-size: 16px;
  padding-bottom: 0%;
}

.img-top {
  width: 80%;
  padding-top: 10px;
}

/*banner de la página*/
.container-header {
  font-family: "Varela Round", Sans-Serif;
  min-width: 100%;
  min-height: 45%;
  background: linear-gradient(90deg, #a8dde4,#f5bfdf, #c884f8);
  top: 0;
  margin-top: -2%;
  position: relative;
  height: 50%;
  color: #f5f3f5;
  padding-bottom: 10px;
}

.header-text {
  padding-top: 45px;
  color: white;
}


#totoro-header {
  width: 18%;
  height: 20%;
  float: right;
  margin-top: -15%;
  margin-right: 5%;
}

@media (max-width: 980px) {
  #totoro-header {
    display: none;
  }
}
/*estilos para el menú lateral */
.nav-bar{
  position: absolute;
  z-index: 2;
  left: 0;
  width: 300px;
  height: 120%;
  display: flex;
  justify-content: auto;
  flex-direction: column;
  background-color: #ffffffe1;
  top: 0;
 display: none;
 color: #c884f8;


}
.nav-bar .close-nav{
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 5px;
  cursor: pointer;
  padding-top: 5px;

}


.nav-bar .menu-title{
  text-align: center;
  padding: 5px;
}

.menu-icons {

  z-index: 1;
  padding-left: 5px;
  position: absolute;
  width: 65px;
  height: 130px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .menu-icons {
  flex-direction: row;
  top: -7%;
  padding-bottom: 15px;
}
}


.menu-icons .menu-text {
  color: #ffff;
  line-height: 5px;
  padding: 3px;
}
 .nav-item {
   list-style: none;
   margin: 25px;
   color: #ba64f7;
   padding: 5%;
   
 }

 .nav-link{
   text-decoration: none;
   font-size: 18px;
   font-weight: 300;
   letter-spacing: 1px;
   color: #ba64f7;
   cursor: pointer;

 }

 .nav-link:hover{
   background-color: #ba64f7;
   color: #ffe9fc;
   padding: 10px;
   transition: all 0.3s ease;
   width: 100%;

 }

.pulse3, .pulse2 {
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
  width: 18px;
  height: 18px;
 
}

.pulse1 {
  background-color: var(--primary);
  border-radius: 50%;
  width: 18px;
  height: 18px;
 
  animation: pulse 2s infinite;
}

:root {
  --primary: #ba64f7;

  --secondary: #ba64f700; 
}

@keyframes pulse {
  from {
    box-shadow: var(--primary) 0 0 0 0 ;
  }

  to {
    box-shadow: var(--secondary) 0 0 0 12px;
  }
}

.contact-icon {
  width: 30%;
  height: 30%;
  padding: 5px;
  cursor: pointer;
}
.btn-inicio {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border-width: 5px;
  border-color: #a8dde4;
  color: #85c8d1;
  background-color: #f7b5ef00;
  font-family: "Varela Round", Sans-Serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btn-inicio:hover {
  color: #fcfcfc;
  box-shadow: 0 6px 10px #a8dde4;
  transition: all 0.3s ease;
  background-color: #a8dde4;
}

/*iconos y sección estadisticas*/

.score_icon {
width: 5%;
height: 5%;
}

.scoreFeedback-icon{
  width: 10%;
  height: 10%;
}

.stadistics-content{
  display: none;
  justify-self: center;
  margin: 10%;
  margin-left: 10%;
  margin-right: 10%;
padding: 5%;
  width: 75%;
  height: 80%;
   background: rgba(255, 255, 255, 0.548);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
.scorehg{
  background:#c884f8;
  color: #fcfcfc;
  font-size: 150%
}